@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Black.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro/GothamProRegular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro/GothamPro-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro/GothamPro-Bold.woff2") format("woff2");
  font-weight: 700;
}